@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  body {
    font-family: 'Space Grotesk', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  display: flex;
  width: 1440px;
  justify-content: center;
  align-items: flex-start;
  background: #fff;
}

.scale-numbers {
  display: inline-flex;
  height: 255px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.scale-bar-container {
    display: flex;
  width: 696px;
  justify-content: space-between;
  align-items: flex-end;
}

.scale-bar {
  width: 30px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 20px 20px 0px 0px;
  background: rgba(52, 202, 165, 0.10);
}
.scale-lines {
  height: 1px;
flex-shrink: 0;
align-self: stretch;
fill: var(--Neutral-White, #FFF);
stroke-width: 1px;
stroke: #EAEAEA;
}

.scale-month {
  display: flex;
  width: 696px;
  align-items: flex-start;
  gap: 30px;
}